<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c{1.} %X{correlationId} %X{traceId} %X{spanId} - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <AsyncLogger name="org.zalando.logbook" level="TRACE" additivity="false">
      <AppenderRef ref="Console"/>
    </AsyncLogger>

    <AsyncRoot level="${sys:LOG_LEVEL:-DEBUG}">
      <AppenderRef ref="Console"/>
    </AsyncRoot>
      <AsyncLogger name="org.springframework" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
      <AsyncLogger name="io.netty" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
      <AsyncLogger name="org.hibernate" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
      <AsyncLogger name="reactor" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
      <AsyncLogger name="io.micrometer" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
      <AsyncLogger name="io.opentelemetry" level="warn">
          <AppenderRef ref="Console"/>
      </AsyncLogger>
  </Loggers>
</Configuration>
